<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <form th:method="POST" th:action="@{/artist}">
        <div th:each="song : ${songs}">
            <input type="radio" name="song" th:value="${song.trackId}"
                   th:utext="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear} + '<br>'">
        </div>
        <input type='submit' value='Submit'>
    </form>
</main>
</body>
</html>